<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="locale='en'">
<head>
    <title>Edit Expense</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Edit Expense</h1>
<form th:action="@{/addExpenseToBudget}" th:object="${expense}" method="post">
    <input type="hidden" name="budgetId" th:value="${budgetId}"/>
    <input type="hidden" th:field="*{id}"/>

    <label for="description">Description:</label>
    <input type="text" id="description" th:field="*{description}" required/>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" th:field="*{amount}" step="1" required/>

    <label for="date">Date:</label>
    <input type="date" id="date" th:field="*{date}" required/>

    <label for="category">Category:</label>
    <input type="text" id="category" th:field="*{category}" required/>

    <button type="submit">Update Expense</button>
</form>
<!-- View Expenses Button -->
<a th:href="@{/viewExpenses/{budgetId}(budgetId=${budgetId})}">
    <button type="button">Back to Expense List</button>
</a>
</body>
</html>